<div class="container">
<h1>Sign Up</h1>

<%= form_with model: @user, url: sign_up_path do |form| %>
        <div class="mb-3">
        <%= form.label :Email %>
        <%= form.text_field :email, class: "form-control", placeholder: "dennis@example.com"  %>
        </div>
        <div class="mb-3">
        <%= form.label :Password %>
        <%= form.password_field :password, class: "form-control", placeholder: "your password" %>
        </div>
        <div class="mb-3">
        <%= form.label :Confirm_password %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder:"your password confirmation" %>
        </div>
        <div class="mb-3">
        <%= form.submit "Sign Up", class: "btn btn-primary" %>
        </div>
<% end %>
</div>