<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= image_path("sliders/Game.jpg") %>" class="d-block w-100" alt="Slider 1">
    </div>
    <div class="carousel-item">
      <img src="<%= image_path("sliders/Studio1.jpg") %>" class="d-block w-100" alt="Slider 2">
    </div>
    <div class="carousel-item">
       <img src="<%= image_path("sliders/Tourism.jpg") %>" class="d-block w-100" alt="Slider 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    <div class="py-2 container">
    <div class="row">
    <div class="col-md-12 text-center">
    <h1 class="main-heading">About Us</h1>
    <div class="underline mx-auto"></div>
    <p class="py-2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisi vel consectetur euismod, nisi nisl consectetur nisi, eget consectetur nisi nisl eget nisi.  
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisi vel consectetur euismod, nisi nisl consectetur nisi, eget consectetur nisi nisl eget nisi.  
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisi vel consectetur euismod, nisi nisl consectetur nisi, eget consectetur nisi nisl eget nisi.  
    </p>
    </div>
    </div>
    </div>

<div class="bg-gray ">
  <div class="container">
    <div class="row">

      <div class="col-md-12 text-center">
        <h1 class="main-heading">Our Services</h1>
          <div class="underline mx-auto"></div>
      </div>
            <div class="col-md-4 py-3">
              <div class="box-card shadow">
                <img src="<%= image_path("cards/card.jpg") %>" class="d-block w-100" alt="Web Designing">
                  <div class="box-card-body">
                    <h4 class="box-card-heading text-center">Web Designing</h4>
                      <div class="underline mx-auto"></div>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisi vel consectetur euismod, nisi nisl consectetur nisi, eget consectetur nisi nisl eget nisi.
                          </p>
                          </p>
            <a href="pages/services" class="btn btn-light mt-2">
              <i class="bi bi-chevron-right"></i> Read More
            </a>
                  </div>
              </div>
            </div>
            <div class="col-md-4 py-3">
              <div class="box-card shadow">
                <img src="<%= image_path("cards/card2.jpg") %>" class="d-block w-100" alt="Web Development">
                  <div class="box-card-body">
                    <h4 class="box-card-heading text-center">Web Development</h4>
                      <div class="underline mx-auto"></div>
                          <p >
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisi vel consectetur euismod, nisi nisl consectetur nisi, eget consectetur nisi nisl eget nisi.
                          </p>
                          </p>
                            <a href="pages/services" class="btn btn-light mt-2">
                              <i class="bi bi-chevron-right"></i> Read More
                            </a>
                  </div>
              </div>
            </div>
            <div class="col-md-4 py-3">
              <div class="box-card shadow">
                <img src="<%= image_path("cards/card3.jpg") %>" class="d-block w-100" alt="Web Designing">
                  <div class="box-card-body">
                    <h4 class="box-card-heading text-center">Web SEO</h4>
                      <div class="underline mx-auto">
                      </div>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisi vel consectetur euismod, nisi nisl consectetur nisi, eget consectetur nisi nisl eget nisi.
                          </p>
                          </p>
                            <a href="pages/services" class="btn btn-light mt-2">
                              <i class="bi bi-chevron-right"></i> Read More
                            </a>
                  </div>
              </div>
            </div>
            
      
    </div>
</div>





     <!-- Learn Sections -->
    <section id="learn" class="p-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
             <img src="<%= image_path("sliders/fundamentals.svg") %>" class="d-block w-100" alt="Slider 3">
          </div>
          <div class="col-md p-5">
            <h2>Learn The Fundamentals</h2>
            <p class="lead">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Similique deleniti possimus magnam corporis ratione facere!
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
              reiciendis eius autem eveniet mollitia, at asperiores suscipit
              quae similique laboriosam iste minus placeat odit velit quos,
              nulla architecto amet voluptates?
            </p>
            <a href="#" class="btn btn-light mt-3">
              <i class="bi bi-chevron-right"></i> Read More
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="learn" class="p-5 bg-light text-dark">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p-5">
            <h2>Learn React</h2>
            <p class="lead">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Similique deleniti possimus magnam corporis ratione facere!
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
              reiciendis eius autem eveniet mollitia, at asperiores suscipit
              quae similique laboriosam iste minus placeat odit velit quos,
              nulla architecto amet voluptates?
            </p>
            <a href="#" class="btn btn-light mt-3">
              <i class="bi bi-chevron-right"></i> Read More
            </a>
          </div>
          <div class="col-md">

            <img src="<%= image_path("sliders/react.svg") %>" class="d-block w-100" alt="Slider 3">
          </div>
        </div>
      </div>
    </section>

<div class="pb-130">
            <div class="container">
                <hr class="mt-100 mb-60">
                <div class="row gy-40">
                    <div class="col-12 col-sm-6 col-lg-3 animated" data-show="startbox" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">
                        <div class="h1 m-0 text-accent-2">328</div>
                        <div class="h6 mb-15">Successful projects</div>
                        <p class="font-size-15 m-0 pe-20">You every can't thing seed subdue subdue light female.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 animated" data-show="startbox" data-show-delay="100" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">
                        <div class="h1 m-0 text-accent-2">10+</div>
                        <div class="h6 mb-15">Years of exeperience</div>
                        <p class="font-size-15 m-0 pe-20">Called a fly, behold seasons meat which stars bring fruit.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 animated" data-show="startbox" data-show-delay="200" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">
                        <div class="h1 m-0 text-accent-2">68%</div>
                        <div class="h6 mb-15">Cost savings</div>
                        <p class="font-size-15 m-0 pe-20">Image isn't that give appear made us you're yielding.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 animated" data-show="startbox" data-show-delay="300" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">
                        <div class="h1 m-0 text-accent-2">1k</div>
                        <div class="h6 mb-15">Email leads generated</div>
                        <p class="font-size-15 m-0 pe-20">Fruit deep first cattle set fourth without and day subdue.</p>
                    </div>
                </div>
            </div>
        </div>
