<!DOCTYPE html>
<html>
  <head>
    <title>Leonardo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag "sliders/leonardo-favicon.ico" %>
  </head>

  <body>
  <%= render partial: "shared/navbar" %>
    <%= yield %>
    <%= render partial: "shared/footer" %>
  </body>
</html>
